

<body class="theme-light is-smooth-effect" data-spy="scroll" data-target="#mainnav" data-offset="80">

	<!-- Header -->
	<header class="site-header is-sticky">

		<!-- Place Particle Js -->
		<div id="particles-js" class="particles-container particles-js"></div>

		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent" id="mainnav">
			<nav class="container">
				<a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="#">
          <!-- Add the logo -->
          <%= image_tag('K.svg', draggable: "true", id: "drag1") %>
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav animated" data-animate="fadeInDown" data-delay=".9">
						<li class="nav-item"><a class="nav-link menu-link" href="#intro">What is Kalikoe<span class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#howitworks">How it works</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#apps">Apps</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#tokenSale">Blockchain</a></li>
            <li class="nav-item"><a class="nav-link menu-link" href="#ico">ICO</a></li>
            <li class="nav-item"><a class="nav-link menu-link" href="#roadmap">RoadMap</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#team">Team</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#contact">Contact</a></li>
					</ul>
					<ul class="navbar-nav navbar-btns animated" data-animate="fadeInDown" data-delay="1.15">
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="https://docs.google.com/document/d/1unSHpRlL1mcn1tIc4RLyqY3egJVJxvakFOpsssvdKEU/edit?usp=drivesdk">Download whitepaper </a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- End Navbar -->

		<!-- Banner/Slider -->
		<div id="header" class="banner banner-full banner-curb d-flex align-items-center">
			<div class="container">
				<div class="banner-content">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-12">
							<div class="header-txt tab-center mobile-center">
								<h1 class="animated" data-animate="fadeInUp" data-delay="1.25">KALIKOE</h1>
								<p class="lead color-secondary animated" data-animate="fadeInUp" data-delay="1.1">Cryptocurrency for All</p>
								<ul class="btns animated" data-animate="fadeInUp" data-delay="1.45">
									<li><a href="https://docs.google.com/document/d/1unSHpRlL1mcn1tIc4RLyqY3egJVJxvakFOpsssvdKEU/edit?usp=drivesdk" class="btn btn-alt">Download whitepaper</a></li>
								</ul>
								<ul class="social">
									<li class="animated" data-animate="fadeInUp" data-delay="1.5"><a href="https://m.facebook.com/KalikoeWallet/?ref=bookmarks"><em class="fa fa-facebook"></em></a></li>
									<li class="animated" data-animate="fadeInUp" data-delay="1.55"><a href="https://mobile.twitter.com/Kalikoeproject"><em class="fa fa-twitter"></em></a></li>
									<li class="animated" data-animate="fadeInUp" data-delay="1.7"><a href="https://t.me/KalikoeWallet"><em class="fa fa-telegram"></em></a></li>
									<li class="animated" data-animate="fadeInUp" data-delay="1.75"><a href="https://medium.com/@quentinallen"><em class="fa fa-medium"></em></a></li>
								</ul>
							</div>
						</div><!-- .col  -->

						</div><!-- .col  -->
					</div><!-- .row  -->
				</div><!-- .banner-content  -->
			</div><!-- .container  -->
		</div>
		<!-- End Banner/Slider -->
	</header>
	<!-- End Header -->
	<!-- Start Section -->
	<div class="section section-pad section-bg-alt nopb" id="intro">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-5 offset-md-1">
					<div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1">
            <%= image_tag('KALIKOEsmall.png', draggable: "true", id: "drag1") %>
					</div>
				</div><!-- .col  -->
				<div class="col-md-6 order-md-first order-last">
					<div class="text-block">
						<h2 class="animated" data-animate="fadeInUp" data-delay="0">What is Kalikoe</h2>
						<p class="lead animated" data-animate="fadeInUp" data-delay=".1">Kalikoe is a project including 3 main
              components: The Kalikoe Blockchain, Kalikoe Social Media, and Kalikoe Wallet. They all work together to
              make the cryptocurrency Kalikoe Diamond(KSD) secure, efficient, and easy for everyone to earn. Many
              popular social media platforms today, only pay content creators for adding value to the platform, nothing
              has never been done to create revenue for viewers of a platform. The viewers of social media are left in
              the dark, most of the time they are shown intrusive ads just so the network can gain revenue. Kalikoe
              social media works to create a platform that pays both content creators and viewers cryptocurrency, for
              time spent using it’s platform each month
</p>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .conatiner  -->
	</div>
	<!-- Start Section -->
	<!-- Start Section -->
	<div class="section section-pad no-pb section-bg-alt" id="howitworks">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-5">
					<div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1">
						<iframe src="https://marvelapp.com/3id940d?emb=1" width="330" height="640" frameborder="0" allowtransparency="true"></iframe>
					</div>
				</div><!-- .col  -->
				<div class="col-md-6 offset-md-1">
					<div class="text-block">
						<h4 class="animated" data-animate="fadeInUp" data-delay="0">How it works?</h4>
						<p class="lead animated" data-animate="fadeInUp" data-delay=".1">When a user first signs up to Kalikoe
              Social, they pick different forums they would like to follow. It can be sports, magazine’s, or everyday
              vloggers they watch. If the user likes the content the creator has posted, they will give them an up-vote
              and the video will be moved up one level in the forums search results rankings. If a user does not like
              the content they can choose to downvote it and the video will be dropped one rank lower in the search
              results.The social network uses a decentralized reward engine to distribute KSD to each active person,
              using Proof of Contribution mechanisms. This means that people will be paid in tokens based on how much
              value the add to the platform.</p>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .container  -->
	</div>
	<!-- Start Section -->
	<div class="section section-pad section-bg-btoa" id="apps">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
					<div class="section-head">
						<div class="heading-animation">
							<span class="line-1"></span><span class="line-2"></span>
							<span class="line-3"></span><span class="line-4"></span>
							<span class="line-5"></span><span class="line-6"></span>
							<span class="line-7"></span><span class="line-8"></span>
						</div>
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">The KALIKOE App
							<span>apps</span>
						</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".1">Kalikoe social media app, has many features that
              can be unlocked using the platform’s main currency Kalikoe Diamond or (KSD). The premium features of the
              platform will include: </p>
					</div>
				</div>
			</div>

			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1">
						<%= image_tag('Phone.svg', draggable: "true", id: "drag1") %>
					</div>
				</div><!-- .col  -->

				<div class="col-md-5 offset-md-1">
					<div class="text-block">
						<ul class="animated" data-animate="fadeInUp" data-delay=".1">
							<li><%= image_tag('noad.svg', width: '40') %> <b> Ad-free videos </b>  <br>Kalikoe will allow users to opt out of ads and sponsored surveys if they are not interested in them. Users only pay a small amount of KSD each month and they will never see ads before content again.</li>
							<br><li><%= image_tag('badge.svg', width: '40') %><b> Social Badges </b> <br>As a way to get notoriety and for more people to trust your content will be
                good, you can earn or sometimes pay for different badges. Social badges are color coded and helps people
                know how important you are in real life society. Users can pay for these with the KSD they earn on the
                platform.</li>
              <br><li><%= image_tag('super.svg', width: '40') %><b> Super Vote </b> <br>Super vote allows you to give a bigger contribution to a content creator than the usual. Whenever you use super vote on a video you push its ranking up 3x more on that thread topic and it will help them reach the top a lot faster.</li>
              <br><li><%= image_tag('music.svg', width: '40') %><b> Offline Music </b> <br>Whenever you want to close your phone or text one of your friends, you do not have to worry about stopping your music anymore. Kalikoe allows you to play your videos in the background while you do other tasks.</li>
						</ul>
						<ul class="btns">
							<li class="animated" data-animate="fadeInUp" data-delay="0"><a href="https://play.google.com/store/apps/details?id=de.bitsharesmunich.kalikoiwallet" class="btn btn-sm">GET THE APP NOW</a></li>
							<li class="animated" data-animate="fadeInUp" data-delay=".2">
								<a href="https://play.google.com/store/apps/details?id=de.bitsharesmunich.kalikoiwallet "><em class="fa fa-android"></em></a>
							</li>
						</ul>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->

		</div><!-- .container  -->
	</div>
	<!-- Start Section -->
	<!-- Start Section -->
	<div class="section section-pad section-bg-alt" id="why">
		<div class="container">

			<div class="row">
				<div class="col-md-12 offset-md-12 col-lg-16 offset-lg-12">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">KALIKOE BLOCKCHAIN
							<span>BLOCKCHAIN & DISTRIBUTION</span>
						</h2>
					</div>

						<div class="row">
						<div class="col-md-6">
							<p class="animated" data-animate="fadeInUp" data-delay=".1">The network allows users to join a coin
                staking pool , where they can help validate transactions on the blockchain. The blockchain verification
                process would use less energy consumption over the other traditional Proof of Work consensus. A user
                will only need to stake a portion of their KSD tokens to the network mining pool when they are ready to
                validate block transactions. Each consensus member will be rewarded based off the amount of tokens they
                staked to the validation process.The features of Kalikoe blockchain includes:</p>
              <ul>
                <li>• Proof of Stake consensus</li>
                <li>• Masternode and servicenode system</li>
                <li>• 5 second confirmation and low transaction fees</li>
                <li>• Full node staking</li>
              </ul>
						</div>
						<div class="col-md-6">
							<div class="single-chart">
								<div class="animated" data-animate="fadeInUp" data-delay="0">
		              <%= image_tag('INFOforSVG.svg', draggable: "true", id: "drag1") %>
								</div>
							</div>
						</div>


						</div><!-- .col  -->

					</div>
				</div>
			</div>
		</div><!-- .col  -->
	</div><!-- .row  -->

  <div class="section section-pad section-bg-alt" id="tokenSale">
    <div class="container">

      <div class="row">
        <div class="col-md-12 offset-md-12 col-lg-16 offset-lg-12">
          <div class="section-head">
            <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Why participate in Kalikoe
              <span>Why</span>
            </h2>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p class="animated" data-animate="fadeInUp" data-delay=".1">Kalikoe is working to develop a decentralized
                economy that can benefit everyone who contributes to the social media’s Blockchain. By allowing anyone
                with a mobile device and social account to gain incentives for their social engagement will improve the
                lives of many people globally. Kalikoe will first use the token only inside the platform to unlock
                different features. But Kalikoe hopes to later partner with different mobile gaming companies and
                eCommerce sites who will accept the token as a form of payments.</p>
            </div>



          </div><!-- .col  -->

        </div>
      </div>
    </div>
  </div><!-- .col  -->
  </div><!-- .row  -->

  <div class="section section-pad section-bg-alt" id="ico">
    <div class="container">

      <div class="row">
        <div class="col-md-12 offset-md-12 col-lg-16 offset-lg-12">
          <div class="section-head">
            <h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">ICO TERMS
              <span>ICO</span>
            </h2>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p class="animated" data-animate="fadeInUp" data-delay=".1">Total token Supply will be 400,000,000 while Kalikoe will furnish 168 million Kalikoe Diamond Tokens (KSD) by raising funds in ETH during its token sale. The token sale will end once this limit is reached or else all the unsold tokens would be burned after the IPL period. </p>
              <p class="animated" data-animate="fadeInUp" data-delay=".2">
                Softcap: $4,567,000 or 10,922 ETH<br>
                Hardcap: $9,135,000 or 21,854 ETH </p>
              <p class="animated" data-animate="fadeInUp" data-delay=".3">
              ICO start date : TBA
              ICO end date: TBA
                <%= image_tag('FundUsage.png', height: '160') %>
              </p>
              <div class="animated" data-animate="fadeInUp" data-delay=".3" style="width: 30%">Contribute to presale <a class="nav-link btn btn-sm btn-outline menu-link" href="mailto:info@kalikoe.com">Contribute </a></div>
            </div>


          </div><!-- .col  -->

        </div>
      </div>
    </div>
  </div><!-- .col  -->
  </div><!-- .row  -->


	<!-- Start Section -->
	<div class="section section-pad section-bg section-connect" id="roadmap">
		<div class="container">

			<div class="row text-center">
				<div class="col">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Our Roadmap
							<span>RoadMap</span>
						</h2>
					</div>
				</div>
			</div>

			<div class="row roadmap-list align-items-end animated" data-animate="fadeInUp" data-delay="0">
				<div class="col-lg">
					<div class="single-roadmap roadmap-sm">
						<h6>Q1 2018</h6>
						<p>Developed Alpha version of Kalikoe Wallet app available on Android.</p>
					</div>
				</div><!-- .col  -->
				<div class="col-lg width-0">
					<div class="single-roadmap roadmap-down">
						<h6>Q2 2018</h6>
						<p>Live social media ranking for audience</p>
					</div>
				</div><!-- .col  -->
				<div class="col-lg">
					<div class="single-roadmap roadmap-lg">
						<h6>Q3 2018</h6>
						<p>Blockchain Design</p>
					</div>
				</div><!-- .col  -->
				<div class="col-lg width-0">
					<div class="single-roadmap roadmap-down">
						<h6>Q4 2018</h6>
						<p>Partnership with Different Ecommerce platforms for acceptance of the ksd token</p>
					</div>
				</div><!-- .col  -->

		</div><!-- .container  -->
	</div>

	<!-- Start Section -->
	<div class="section section-pad no-pb section-bg-alt section-fix" id="team">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Powered by a Team
							<span>Team</span>
						</h2>
						<p class=" animated" data-animate="fadeInUp" data-delay=".1"></p>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
					<div class="team-member animated" data-animate="fadeInUp" data-delay=".2">
						<div class="team-photo">
							<%= image_tag("quentin.png")%>
							<a href="index-light-particle-animate.html#team-profile-1" class="expand-trigger content-popup"></a>
						</div>
						<div class="team-info">
							<h5 class="team-name">Quentin <br>Allen</h5>
							<span class="team-title">Founder</span>
							<ul class="team-social">
								<li><a href="https://www.linkedin.com/in/quentin-allen-17b53691/"><em class="fa fa-linkedin"></em></a></li>
							</ul>
						</div>

						<!-- Start .team-profile  -->
						<div id="team-profile-1" class="team-profile mfp-hide">
							<button title="Close (Esc)" type="button" class="mfp-close">×</button>
							<div class="container-fluid">
								<div class="row no-mg">
									<div class="col-md-6">
										<div class="team-profile-photo">
											<img src="images/team-a-lg.jpg" alt="team" />
										</div>
									</div><!-- .col  -->

								</div><!-- .row  -->
							</div><!-- .container  -->
						</div><!-- .team-profile  -->

					</div>
				</div><!-- .col  -->

				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
					<div class="team-member animated" data-animate="fadeInUp" data-delay=".3">
						<div class="team-photo">
							<%= image_tag("Mudaser.png")%>
							<a href="index-light-particle-animate.html#team-profile-2" class="expand-trigger content-popup"></a>
						</div>
						<div class="team-info">
							<h5 class="team-name">Mudaser <br>Iqbal</h5>
							<span class="team-title">CTO</span>
							<ul class="team-social">
								<li><a href="https://www.linkedin.com/in/mudaseriqbal/ "><em class="fa fa-linkedin"></em></a></li>
							</ul>
						</div>



					</div>
				</div><!-- .col  -->

				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
					<div class="team-member animated" data-animate="fadeInUp" data-delay=".4">
						<div class="team-photo">
							<%= image_tag("jonathan.png")%>
							<a href="index-light-particle-animate.html#team-profile-3" class="expand-trigger content-popup"></a>
						</div>
						<div class="team-info">
							<h5 class="team-name">Jonathan <br>Nasution</h5>
							<span class="team-title">UX/UI designer</span>
							<ul class="team-social">
								<li><a href="https://www.linkedin.com/in/yonaa/"><em class="fa fa-linkedin"></em></a></li>
							</ul>
						</div>


					</div>
				</div><!-- .col  -->

				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
					<div class="team-member animated" data-animate="fadeInUp" data-delay=".1">
						<div class="team-photo">
							<%= image_tag("Qasid.png")%>
							<a href="index-light-particle-animate.html#team-profile-4" class="expand-trigger content-popup"></a>
						</div>
						<div class="team-info">
							<h5 class="team-name">Qasid <br>Labeed</h5>
							<span class="team-title">Blockchain Financial Analyst</span>
							<ul class="team-social">
								<li><a href="https://www.linkedin.com/in/qasid-labeed-2a28b59b/"><em class="fa fa-linkedin"></em></a></li>
							</ul>
						</div>

					</div>
				</div><!-- .col  -->

				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
					<div class="team-member animated" data-animate="fadeInUp" data-delay=".1">
						<div class="team-photo">
							<%= image_tag("Talha.png")%>
							<a href="index-light-particle-animate.html#team-profile-4" class="expand-trigger content-popup"></a>
						</div>
						<div class="team-info">
							<h5 class="team-name">Talha <br>Yusuf</h5>
							<span class="team-title">Blockchain Developer</span>
							<ul class="team-social">
								<li><a href="https://www.linkedin.com/in/talha-yusuf-66067610b"><em class="fa fa-linkedin"></em></a></li>
							</ul>
						</div>

					</div>
				</div><!-- .col  -->

				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
					<div class="team-member animated" data-animate="fadeInUp" data-delay=".1">
						<div class="team-photo">
							<%= image_tag("vincent.png")%>
							<a href="index-light-particle-animate.html#team-profile-4" class="expand-trigger content-popup"></a>
						</div>
						<div class="team-info">
							<h5 class="team-name">Vincent <br>Villalta</h5>
							<span class="team-title">Full Stack Developer</span>
							<ul class="team-social">
								<li><a href="https://www.linkedin.com/in/vincent-villalta-38083970/"><em class="fa fa-linkedin"></em></a></li>
							</ul>
						</div>

					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
			<div class="row">
				<div class="col-md-12">
					<div class="gaps size-2x"></div>
					<h3 class="sub-heading ucap">Advisors</h3>
					<div class="gaps size-2x"></div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-9 col-md-12">
					<div class="row">

						<div class="col-lg-4 col-md-6 d-inline-flex justify-content-center">
							<div class="team-member">
								<div class="team-photo">
									<%= image_tag("Mohak.png")%>
									<a href="index-light-particle-animate.html#team-profile-5" class="expand-trigger content-popup"></a>
								</div>
								<div class="team-info">
									<h5 class="team-name">Mohak <br>Agawal</h5>
									<span class="team-title">ICO/Blockchain Advisor</span>
									<ul class="team-social">
										<li><a href="https://www.linkedin.com/in/mohakagr/"><em class="fa fa-linkedin"></em></a></li>
									</ul>
								</div>

							</div>
						</div><!-- .col  -->

						<div class="col-lg-4 col-md-6 d-inline-flex justify-content-center">
							<div class="team-member animated" data-animate="fadeInUp" data-delay=".2">
								<div class="team-photo">
									<%= image_tag("Jason.png")%>
									<a href="index-light-particle-animate.html#team-profile-6" class="expand-trigger content-popup"></a>
								</div>
								<div class="team-info">
									<h5 class="team-name">Jason <br>Coles</h5>
									<span class="team-title">ICO/Blockchain Advisor</span>
									<ul class="team-social">
										<li><a href="https://www.linkedin.com/in/jason-coles-45043b76/"><em class="fa fa-linkedin"></em></a></li>
									</ul>
								</div>


										</div><!-- .row  -->
									</div>

            <div class="col-lg-4 col-md-6 d-inline-flex justify-content-center">
              <div class="team-member animated" data-animate="fadeInUp" data-delay=".2">
                <div class="team-photo">
                  <%= image_tag("Nikita.jpeg") %>
                  <a href="index-light-particle-animate.html#team-profile-6" class="expand-trigger content-popup"></a>
                </div>
                <div class="team-info">
                  <h5 class="team-name">Nikita <br>Dotsenko</h5>
                  <span class="team-title">Advisor</span>
                  <ul class="team-social">
                    <li><a href="https://www.linkedin.com/in/nikita-dotsenko-a5a875158/"><em class="fa fa-linkedin"></em></a>
                    </li>
                  </ul>
                </div>


              </div><!-- .row  -->
            </div>

            <div class="col-lg-4 col-md-6 d-inline-flex justify-content-center">
              <div class="team-member animated" data-animate="fadeInUp" data-delay=".2">
                <div class="team-photo">
                  <%= image_tag("Benjamin.jpeg") %>
                  <a href="index-light-particle-animate.html#team-profile-6" class="expand-trigger content-popup"></a>
                </div>
                <div class="team-info">
                  <h5 class="team-name">Benjamin <br>Melick</h5>
                  <span class="team-title">Advisor</span>
                  <ul class="team-social">
                    <li><a href="https://www.linkedin.com/in/jason-coles-45043b76/"><em class="fa fa-linkedin"></em></a>
                    </li>
                  </ul>
                </div>


              </div><!-- .row  -->
            </div>
            <!-- .container  -->
								</div><!-- .team-profile  -->

							</div>
						</div><!-- .col  -->

					</div><!-- .row  -->
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div>
	</div>
	<!-- Start Section -->

	<!-- Start Section -->
	<div class="section section-pad section-bg-alt" id="contact">
		<div class="container">
			<div class="row text-center">
				<div class="col">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Contact KALIKOE
							<span>Contact</span>
						</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".1">Any question? Reach out to us and we’ll get back to you shortly.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<ul class="contact-info">
						<li class="animated" data-animate="fadeInUp" data-delay=".1"><a href="mailto:teamkalikoe@gmail.com "><em class="fa fa-envelope"></em><span>teamkalikoe@gmail.com </span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->

	<!-- Start Section -->
	<div class="section footer-scetion no-pt section-pad-sm section-bg">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<ul class="social">
						<li class="animated" data-animate="fadeInUp" data-delay="1.5"><a href="https://m.facebook.com/KalikoeWallet/?ref=bookmarks"><em class="fa fa-facebook"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay="1.55"><a href="https://mobile.twitter.com/Kalikoeproject"><em class="fa fa-twitter"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay="1.7"><a href="https://t.me/KalikoeWallet"><em class="fa fa-telegram"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay="1.75"><a href="https://medium.com/@quentinallen"><em class="fa fa-medium"></em></a></li>
					</ul>
					<span class="copyright-text animated" data-animate="fadeInUp" data-delay=".3">
						Copyright &copy; 2018, KALIKOE</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->

	<!-- Preloader !remove please if you do not want -->
	<div id="preloader">
		<div id="loader"></div>
		<div class="loader-section loader-top"></div>
   		<div class="loader-section loader-bottom"></div>
	</div>
	<!-- Preloader End -->

	<!-- JavaScript (include all script here) -->
  <%= javascript_include_tag('jquery.bundle.js') %>
  <%= javascript_include_tag('script.js') %>

</body>
</html>
