

<body class="theme-light is-smooth-effect" data-spy="scroll" data-target="#mainnav" data-offset="80">

	<!-- Header -->
	<header class="site-header is-sticky">

		<!-- Place Particle Js -->
		<div id="particles-js" class="particles-container particles-js"></div>

		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent" id="mainnav">
			<nav class="container">
				<a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="#">
          <!-- Add the logo -->
          <%= image_tag('K.svg', draggable: "true", id: "drag1") %>
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav animated" data-animate="fadeInDown" data-delay=".9">
						<li class="nav-item"><a class="nav-link menu-link" href="#intro">What is Kalikoe<span class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#howitworks">How it works</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#apps">Apps</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#tokenSale">Blockchain</a></li>
            <li class="nav-item"><a class="nav-link menu-link" href="#roadmap">RoadMap</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#team">Team</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#contact">Contact</a></li>
					</ul>
					<ul class="navbar-nav navbar-btns animated" data-animate="fadeInDown" data-delay="1.15">
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/public/Kalikoe_Whitepaper.pdf">Download whitepaper </a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- End Navbar -->

		<!-- Banner/Slider -->
		<div id="header" class="banner banner-full banner-curb d-flex align-items-center">
			<div class="container">
				<div class="banner-content">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-12">
							<div class="header-txt tab-center mobile-center">
								<h1 class="animated" data-animate="fadeInUp" data-delay="1.25">KALIKOE social media re-engineered</h1>
								<p class="lead color-secondary animated" data-animate="fadeInUp" data-delay="1.1">Social media ranking platform</p>
								<ul class="btns animated" data-animate="fadeInUp" data-delay="1.45">
								</ul>
								<ul class="social">
									<li class="animated" data-animate="fadeInUp" data-delay="1.5"><a href="https://m.facebook.com/KalikoeWallet/?ref=bookmarks"><em class="fa fa-facebook"></em></a></li>
									<li class="animated" data-animate="fadeInUp" data-delay="1.55"><a href="https://mobile.twitter.com/Kalikoeproject"><em class="fa fa-twitter"></em></a></li>
									<li class="animated" data-animate="fadeInUp" data-delay="1.7"><a href="https://t.me/KalikoeWallet"><em class="fa fa-telegram"></em></a></li>
									<li class="animated" data-animate="fadeInUp" data-delay="1.75"><a href="https://medium.com/@quentinallen"><em class="fa fa-medium"></em></a></li>
								</ul>
							</div>
						</div><!-- .col  -->

						</div><!-- .col  -->
					</div><!-- .row  -->
				</div><!-- .banner-content  -->
			</div><!-- .container  -->
		</div>
		<!-- End Banner/Slider -->
	</header>
	<!-- End Header -->
	<!-- Start Section -->
	<div class="section section-pad section-bg-alt nopb" id="intro">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-5 offset-md-1">
					<div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1">
            <%= image_tag('KALIKOEsmall.png', draggable: "true", id: "drag1") %>
					</div>
				</div><!-- .col  -->
				<div class="col-md-6 order-md-first order-last">
					<div class="text-block">
						<h2 class="animated" data-animate="fadeInUp" data-delay="0">What is Kalikoe</h2>
						<p class="lead animated" data-animate="fadeInUp" data-delay=".1">Kalikoe is a ecosystem including 3 main components Kalikoe blockchain,Kalikoe social media, and Kalikoe wallet.They all work together to make the virtual token Khutso Diamond(KSD) the most secure and efficient token used for social media and financial transactions. Kalikoe blockchain uses proof of contribution to allocate KSD tokens to users and also the blockchain is pegged to Ethereum. The social media app makes it easy to earn KSD,by gaining upvotes on your content and the Kalikoe wallet makes sending and receiving KSD safe as possible
<br><br>
Kalikoe Blockchain - Kalikoe is a permissioned blockchain infrastructure framework,which is energy efficient, zero fee, and instant verification blockchain, that will process many transactions per day. The blockchain works with the Kalikoe social media platform and it will be decentralized.
</p>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .conatiner  -->
	</div>
	<!-- Start Section -->
	<!-- Start Section -->
	<div class="section section-pad no-pb section-bg-alt" id="howitworks">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-5">
					<div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1">
						<iframe src="https://marvelapp.com/3id940d?emb=1" width="330" height="640" frameborder="0" allowtransparency="true"></iframe>
					</div>
				</div><!-- .col  -->
				<div class="col-md-6 offset-md-1">
					<div class="text-block">
						<h4 class="animated" data-animate="fadeInUp" data-delay="0">How it works?</h4>
						<p class="lead animated" data-animate="fadeInUp" data-delay=".1">Kalikoe allows users to pick different thread topics that they would like to follow. It can be sports, music, or everyday activities that people share. If the audience likes what the content creator has posted they will give them a upvote so the content can be moved up one level until it reaches the top of the news thread category. Or if the audience do not think the content will be valuable to others they will downvote the content and it will be on step lower than it previously was. Large amounts of comments and discussions on these different threads will improve their ranking in the category as well. The purpose of the platform is to always have top quality content at the top and bring around them global discussions. </p>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .container  -->
	</div>
	<!-- Start Section -->
	<div class="section section-pad section-bg-btoa" id="apps">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
					<div class="section-head">
						<div class="heading-animation">
							<span class="line-1"></span><span class="line-2"></span>
							<span class="line-3"></span><span class="line-4"></span>
							<span class="line-5"></span><span class="line-6"></span>
							<span class="line-7"></span><span class="line-8"></span>
						</div>
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">The KALIKOE App
							<span>apps</span>
						</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".1">Kalikoe wallet lets the user earn KSD by doing what they love. So, all a user needs to do is set up a social media account, post content to it and every upvote they gain will be converted into KSD. By doing so Kalikoe is incentivizing the people to get involved in token economics at the ease of their daily habits. Thus with Kalikoe every person is able to earn and spend the KSD tokens.</p>
					</div>
				</div>
			</div>

			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1">
						<%= image_tag('graph-light-c.png', draggable: "true", id: "drag1") %>
					</div>
				</div><!-- .col  -->

				<div class="col-md-5 offset-md-1">
					<div class="text-block">
						<ul class="animated" data-animate="fadeInUp" data-delay=".1">
							<li><b>Ad free content </b>  Kalikoe will allow users to opt out of ads and sponsored surveys if they are not interested in them. Users only pay a small amount of KSD each month and they will never see ads before content again. </li>
							<li><b>Social Badges </b>  As a way to get notoriety and for more people to trust your content will be good, you can earn or sometimes pay for different badges. Social badges are color coded and helps people know how important you are in real life society. Users can pay for these with the KSD they earn on the platform.</li>
							<li><b>Super Vote </b> Super vote allows you to give a bigger contribution to a content creator than the usual. Whenever you use super vote on a video you push its ranking up 3x more on that thread topic and it will help them reach the top a lot faster. </li>
							<li><b>Background Play </b> Whenever you want to close your phone or text one of your friends, you do not have to worry about stopping your music anymore. Kalikoe allows you to play your videos in the background while you do other tasks. </li>
						</ul>
						<ul class="btns">
							<li class="animated" data-animate="fadeInUp" data-delay="0"><a href="index-light-particle-animate.html#" class="btn btn-sm">GET THE APP NOW</a></li>
							<li class="animated" data-animate="fadeInUp" data-delay=".2">
								<a href="#"><em class="fa fa-apple"></em></a>
								<a href="#"><em class="fa fa-android"></em></a>
							</li>
						</ul>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->

		</div><!-- .container  -->
	</div>
	<!-- Start Section -->
	<!-- Start Section -->
	<div class="section section-pad section-bg-alt" id="tokenSale">
		<div class="container">

			<div class="row">
				<div class="col-md-12 offset-md-12 col-lg-16 offset-lg-12">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">KALIKOE BLOCKCHAIN
							<span>BLOCKCHAIN & DISTRIBUTION</span>
						</h2>
					</div>

						<div class="row">
						<div class="col-md-6">
							<p class="animated" data-animate="fadeInUp" data-delay=".1">The blockchain would be based on Proof of Importance algorithm that allows for quick transactions with less number of nodes. The Kalikoe blockchain would be handling a large number of transactions on a daily basis is because all the flow of tokens would be recorded on the blockchain using our our private seamless experience to the users for quick and easy transactions. The algorithm would work on the basis of trust and ranking of nodes. Each node ranking would be installing nodes across different geographic locations which would be increased with increase in our customer base.Users who have the most tokens will be able to help validate new blocks into the blockchain.Users also with large amount of tokens in balance qualify to keep the blockchain secure from spam and malicious activities. For every block a user with a high amount of tokens can verify they will gain a percentage of the tokens raised from the content creators. </p>
						</div>
						<div class="col-md-6">
							<div class="single-chart">
								<div class="animated" data-animate="fadeInUp" data-delay="0">
		              <%= image_tag('TOKEN.png', draggable: "true", id: "drag1") %>
								</div>
							</div>
						</div>


						</div><!-- .col  -->

					</div>
				</div>
			</div>
		</div><!-- .col  -->
	</div><!-- .row  -->


	<!-- Start Section -->
	<div class="section section-pad section-bg section-connect" id="roadmap">
		<div class="container">

			<div class="row text-center">
				<div class="col">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Our Roadmap
							<span>RoadMap</span>
						</h2>
					</div>
				</div>
			</div>

			<div class="row roadmap-list align-items-end animated" data-animate="fadeInUp" data-delay="0">
				<div class="col-lg">
					<div class="single-roadmap roadmap-sm">
						<h6>Q1 2018</h6>
						<p>Developed Alpha version of Kalikoe Wallet app available on Android.</p>
					</div>
				</div><!-- .col  -->
				<div class="col-lg width-0">
					<div class="single-roadmap roadmap-down">
						<h6>Q2 2018</h6>
						<p>Live social media ranking for audience</p>
					</div>
				</div><!-- .col  -->
				<div class="col-lg">
					<div class="single-roadmap roadmap-lg">
						<h6>Q3 2018</h6>
						<p>Blockchain Design</p>
					</div>
				</div><!-- .col  -->
				<div class="col-lg width-0">
					<div class="single-roadmap roadmap-down">
						<h6>Q4 2018</h6>
						<p>Partnership with Different Ecommerce platforms for acceptance of the ksd token</p>
					</div>
				</div><!-- .col  -->

		</div><!-- .container  -->
	</div>

	<!-- Start Section -->
	<div class="section section-pad no-pb section-bg-alt section-fix" id="team">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Powered by a Team
							<span>Team</span>
						</h2>
						<p class=" animated" data-animate="fadeInUp" data-delay=".1"></p>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
					<div class="team-member animated" data-animate="fadeInUp" data-delay=".2">
						<div class="team-photo">
							<%= image_tag("quentin.png")%>
							<a href="index-light-particle-animate.html#team-profile-1" class="expand-trigger content-popup"></a>
						</div>
						<div class="team-info">
							<h5 class="team-name">Quentin <br>Allen</h5>
							<span class="team-title">Founder</span>
							<ul class="team-social">
								<li><a href="https://www.linkedin.com/in/quentin-allen-17b53691/"><em class="fa fa-linkedin"></em></a></li>
							</ul>
						</div>

						<!-- Start .team-profile  -->
						<div id="team-profile-1" class="team-profile mfp-hide">
							<button title="Close (Esc)" type="button" class="mfp-close">×</button>
							<div class="container-fluid">
								<div class="row no-mg">
									<div class="col-md-6">
										<div class="team-profile-photo">
											<img src="images/team-a-lg.jpg" alt="team" />
										</div>
									</div><!-- .col  -->

								</div><!-- .row  -->
							</div><!-- .container  -->
						</div><!-- .team-profile  -->

					</div>
				</div><!-- .col  -->

				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
					<div class="team-member animated" data-animate="fadeInUp" data-delay=".3">
						<div class="team-photo">
							<%= image_tag("Mudaser.png")%>
							<a href="index-light-particle-animate.html#team-profile-2" class="expand-trigger content-popup"></a>
						</div>
						<div class="team-info">
							<h5 class="team-name">Mudaser <br>Iqbal</h5>
							<span class="team-title">CTO</span>
							<ul class="team-social">
								<li><a href="https://www.linkedin.com/in/mudaseriqbal/ "><em class="fa fa-linkedin"></em></a></li>
							</ul>
						</div>



					</div>
				</div><!-- .col  -->

				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
					<div class="team-member animated" data-animate="fadeInUp" data-delay=".4">
						<div class="team-photo">
							<%= image_tag("jonathan.png")%>
							<a href="index-light-particle-animate.html#team-profile-3" class="expand-trigger content-popup"></a>
						</div>
						<div class="team-info">
							<h5 class="team-name">Jonathan <br>Nasution</h5>
							<span class="team-title">UX/UI designer</span>
							<ul class="team-social">
								<li><a href="https://www.linkedin.com/in/yonaa/"><em class="fa fa-linkedin"></em></a></li>
							</ul>
						</div>


					</div>
				</div><!-- .col  -->

				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
					<div class="team-member animated" data-animate="fadeInUp" data-delay=".1">
						<div class="team-photo">
							<%= image_tag("Qasid.png")%>
							<a href="index-light-particle-animate.html#team-profile-4" class="expand-trigger content-popup"></a>
						</div>
						<div class="team-info">
							<h5 class="team-name">Qasid <br>Labeed</h5>
							<span class="team-title">Blockchain Financial Analyst</span>
							<ul class="team-social">
								<li><a href="https://www.linkedin.com/in/qasid-labeed-2a28b59b/"><em class="fa fa-linkedin"></em></a></li>
							</ul>
						</div>

					</div>
				</div><!-- .col  -->

				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
					<div class="team-member animated" data-animate="fadeInUp" data-delay=".1">
						<div class="team-photo">
							<%= image_tag("Talha.png")%>
							<a href="index-light-particle-animate.html#team-profile-4" class="expand-trigger content-popup"></a>
						</div>
						<div class="team-info">
							<h5 class="team-name">Talha <br>Yusuf</h5>
							<span class="team-title">Blockchain Developer</span>
							<ul class="team-social">
								<li><a href="https://www.linkedin.com/in/talha-yusuf-66067610b"><em class="fa fa-linkedin"></em></a></li>
							</ul>
						</div>

					</div>
				</div><!-- .col  -->

				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
					<div class="team-member animated" data-animate="fadeInUp" data-delay=".1">
						<div class="team-photo">
							<%= image_tag("vincent.png")%>
							<a href="index-light-particle-animate.html#team-profile-4" class="expand-trigger content-popup"></a>
						</div>
						<div class="team-info">
							<h5 class="team-name">Vincent <br>Villalta</h5>
							<span class="team-title">Full Stack Developer</span>
							<ul class="team-social">
								<li><a href="https://www.linkedin.com/in/vincent-villalta-38083970/"><em class="fa fa-linkedin"></em></a></li>
							</ul>
						</div>

					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
			<div class="row">
				<div class="col-md-12">
					<div class="gaps size-2x"></div>
					<h3 class="sub-heading ucap">Advisors</h3>
					<div class="gaps size-2x"></div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-9 col-md-12">
					<div class="row">

						<div class="col-lg-4 col-md-6 d-inline-flex justify-content-center">
							<div class="team-member">
								<div class="team-photo">
									<%= image_tag("Mohak.png")%>
									<a href="index-light-particle-animate.html#team-profile-5" class="expand-trigger content-popup"></a>
								</div>
								<div class="team-info">
									<h5 class="team-name">Mohak <br>Agawal</h5>
									<span class="team-title">ICO/Blockchain Advisor</span>
									<ul class="team-social">
										<li><a href="https://www.linkedin.com/in/mohakagr/"><em class="fa fa-linkedin"></em></a></li>
									</ul>
								</div>

							</div>
						</div><!-- .col  -->

						<div class="col-lg-4 col-md-6 d-inline-flex justify-content-center">
							<div class="team-member animated" data-animate="fadeInUp" data-delay=".2">
								<div class="team-photo">
									<%= image_tag("Jason.png")%>
									<a href="index-light-particle-animate.html#team-profile-6" class="expand-trigger content-popup"></a>
								</div>
								<div class="team-info">
									<h5 class="team-name">Jason <br>Coles</h5>
									<span class="team-title">ICO/Blockchain Advisor</span>
									<ul class="team-social">
										<li><a href="https://www.linkedin.com/in/jason-coles-45043b76/"><em class="fa fa-linkedin"></em></a></li>
									</ul>
								</div>


										</div><!-- .row  -->
									</div><!-- .container  -->
								</div><!-- .team-profile  -->

							</div>
						</div><!-- .col  -->

					</div><!-- .row  -->
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div>
	</div>
	<!-- Start Section -->

	<!-- Start Section -->
	<div class="section section-pad section-bg-alt" id="contact">
		<div class="container">
			<div class="row text-center">
				<div class="col">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Contact KALIKOE
							<span>Contact</span>
						</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".1">Any question? Reach out to us and we’ll get back to you shortly.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<ul class="contact-info">
						<li class="animated" data-animate="fadeInUp" data-delay=".1"><a href="mailto:teamkalikoe@gmail.com "><em class="fa fa-envelope"></em><span>teamkalikoe@gmail.com </span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->

	<!-- Start Section -->
	<div class="section footer-scetion no-pt section-pad-sm section-bg">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<ul class="social">
						<li class="animated" data-animate="fadeInUp" data-delay="1.5"><a href="https://m.facebook.com/KalikoeWallet/?ref=bookmarks"><em class="fa fa-facebook"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay="1.55"><a href="https://mobile.twitter.com/Kalikoeproject"><em class="fa fa-twitter"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay="1.7"><a href="https://t.me/KalikoeWallet"><em class="fa fa-telegram"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay="1.75"><a href="https://medium.com/@quentinallen"><em class="fa fa-medium"></em></a></li>
					</ul>
					<span class="copyright-text animated" data-animate="fadeInUp" data-delay=".3">
						Copyright &copy; 2018, KALIKOE</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->

	<!-- Preloader !remove please if you do not want -->
	<div id="preloader">
		<div id="loader"></div>
		<div class="loader-section loader-top"></div>
   		<div class="loader-section loader-bottom"></div>
	</div>
	<!-- Preloader End -->

	<!-- JavaScript (include all script here) -->
  <%= javascript_include_tag('jquery.bundle.js') %>
  <%= javascript_include_tag('script.js') %>

</body>
</html>
